{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Village</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Resident Evil Village Style -->
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">

</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <img src="{% static 'media/logo.jpg' %}" alt="Logo" style="height: 40px; margin-right: 10px;">Bienvenidos a la fam Village</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li><a href="/" class="nav-link">INICIO</a></li>
                    <li><a href="/events" class="nav-link">EVENTOS</a></li>
                    <li><a href="/ranking" class="nav-link">RANKING</a></li>
                    <li><a href="/members_fam" class="nav-link">MIEMBROS</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="/logout" class="nav-link">SALIR</a></li>
                    <li class="nav-item"><a class="nav-link">Hola, {{ user.username }}!</a></li>
                    {% else %}
                    <li class="nav-item"><a href="/login" class="nav-link">INGRESAR</a></li>
                    <li class="nav-item"><a href="/signup" class="nav-link">REGISTRARSE</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <h7>© 2024 Village. Todos los derechos reservados.</h7>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>