{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Members Eliminated</h2>

    <!-- Barra de búsqueda -->
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Buscar por Nickname</span>
        <input type="text" class="form-control" id="searchNickname" placeholder="Ingresa el nickname">
    </div>

    <!-- Botón para eliminar un miembro -->
    <a href="{% url 'delete_member' %}" class="btn btn-primary mb-3">Eliminar un miembro</a>

    <!-- Tabla de miembros eliminados -->
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Nickname</th>
                <th scope="col">Reason</th>
                <th scope="col">Recruited By</th>
                <th scope="col">Date Eliminated</th>
            </tr>
        </thead>
        <tbody id="membersTable">
            {% for member in members_eliminated %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ member.name }}</td>
                <td>{{ member.nickname }}</td>
                <td>{{ member.reason }}</td>
                <td>{{ member.recruited.nickname }}</td>
                <td>{{ member.date_eliminate|date:"d/m/Y H:i" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No members have been eliminated yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Script para filtrar por nickname -->
<script>
    document.getElementById('searchNickname').addEventListener('keyup', function() {
        var input = this.value.toLowerCase();
        var rows = document.querySelectorAll('#membersTable tr');

        rows.forEach(function(row) {
            var nickname = row.cells[2].textContent.toLowerCase(); // Columna 3 (Nickname)
            if (nickname.indexOf(input) > -1) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}