/* Video Background sd */



.navbar {
    background-color: #2b2b2b; /* Dark and gothic */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #c9c9c9; /* A shade of gray */
}

.navbar-nav .nav-link {
    color: #e2e2e2;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-nav .nav-link:hover {
    color: #c9c9c9;
    text-shadow: 0 0 5px #fff; /* Glow effect */
}

/* Carousel */
.carousel-item {
    height: 500px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* General styles */
.container {
    margin-top: 50px;
}

/* Personalización del texto blanco */
.text-white {
    color: #f8f9fa !important;
}